:root {
    --dark1: #19181d;
    --dark2: #26242a;
    --dark3: #2e2f37;
}

.bg-1 {
    background-color: var(--dark1);
}

.bg-2 {
    background-color: var(--dark2);
}

.bg-3 {
    background-color: var(--dark3);
}

body {
    background-color: var(--dark1);
    color: white;
}