{% extends 'users/base-auth.html' %}
{% load static %}

{% block title %}Email Sent{% endblock title %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card rounded-4 p-4 text-center" style="width: 100%; max-width: 400px;">
            <h2 class="mb-4">Check Your Email</h2>
            <p>
                We've sent you an email with instructions for resetting your password.
                If you don’t receive it shortly, check your spam folder.
            </p>
            <a href="{% url 'users:login' %}" class="btn btn-secondary mt-3 w-100">Back to Login</a>
        </div>
    </div>
{% endblock content %}
