{% extends 'base.html' %}

{% block content %}	
	<!-- Stats, Level, Daily Goal -->
	<div class="row mt-5">

		<!-- Stats -->
		<div class="col">
			<div class="card text-bg-light" style="min-height: 250px;">
				<div class="card-header text-center border-primary">
					<span class="display-5 fs-2">Stats:</span>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item list-group-item-light list-group-item-action">Avg. Speed: 33 WPM</li>
					<li class="list-group-item list-group-item-light list-group-item-action">Avg. Accuracy: 93 %</li>
					<li class="list-group-item list-group-item-light list-group-item-action">Total Time: 60 h</li>
				</ul>
			</div>
		</div>

		<!-- Level -->
		<div class="col">
			<div class="card text-bg-light" style="min-height: 250px;">
				<div class="card-header text-center border-primary">
					<span class="display-5 fs-2">Level:</span>
				</div>
				<img src="" class="card-img-top" alt="Level 5">
				<div class="card-body">
					<h5 class="card-title">Level 5</h5>
					<p>13,134xp / 15,000xp</p>
				</div>
			</div>
		</div>

		<!-- Daily Goal -->
		<div class="col">
			<div class="card text-bg-light" style="min-height: 250px;">
				<div class="card-header text-center border-primary">
					<span class="display-5 fs-2">Daily Goal:</span>
				</div>
				<div class="card-body text-center">
					<h1 class="display-5">3:43 / 10:00 min</h1>
				</div>
			</div>
		</div>

	</div>

	<!-- Activity Calendar -->
	<!-- <div class="card mt-5">
		<div class="card-header text-center border-primary">
			<span class="display-5 fs-2">Activity Calendar:</span>
		</div>
		<div class="card-body">
			
		</div>
	</div> -->

	<!-- Practice -->
	<div class="card text-center mt-5">
		<div class="card-header">
			<span class="display-5 fs-2">Practice</span>
		</div>
		<div class="row my-3 mx-3 justify-content-space-between">
			<a href="#" class="btn btn-dark col">Lessons</a>
			<a href="{% url 'timedtests' %}" class="btn btn-dark col mx-3">Timed Tests</a>
			<a href="{% url 'pagetests' %}" class="btn btn-dark col">Page Tests</a>
		</div>
	</div>

	<!-- Completed Lessons-->
	<div class="card text-center mt-5">
		<div class="card-header">
			<span class="display-5 fs-2">Completed Lessons:</span>
		</div>
		<div class="card-body">

		</div>
	</div>

	<!-- Speed Test Statistics -->
	<div class="card text-center mt-5">
		<div class="card-header">
			<span class="display-5 fs-2">Speed Test Statistics:</span>
		</div>
		<div class="card-body">

		</div>
	</div>

	<!-- Text Test Statistics -->
	<div class="card text-center mt-5">
		<div class="card-header">
			<span class="display-5 fs-2">Text Test Statistics:</span>
		</div>
		<div class="card-body">

		</div>
	</div>
{% endblock content %}
