{% extends 'base.html' %}
{% load static %}

{% block styles %}
	<style>
		body {
			min-height: 100vh;
			display: flex;
			flex-direction: column;
		}
		#main-content {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	</style>
{% endblock styles %}

{% block content %}
	<div class="d-flex flex-column gap-3 mt-2">

		<div class="row m-0">
			<!-- Level card -->
			<div class="col-3 px-2">
				<div class="card d-flex flex-column p-3">
					<h2 class="mb-1">{{ request.user.level.title }}</h2>
					<p class="mb-1">{{ request.user.level.description }}</p>
					<div class="d-flex flex-column">
						<div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="{{ request.user.exp }}" aria-valuemin="0" aria-valuemax="{{ request.user.level.exp_to_next }}" style="height: 25px">
							<div class="progress-bar" style="width: {{ request.user.exp_progress }}%"></div>
						</div>
						<div style="white-space: nowrap">
							{{ request.user.exp }} exp / {{ request.user.level.exp_to_next }} exp
						</div>
					</div>
				</div>
			</div>

			<!-- Daily Goal -->
			<div class="col-2 px-2">
				<div class="card d-flex flex-column justify-content-center align-items-center h-100">
					<h3>Daily Goal</h3>
					<h4>{{ request.user.today_total_time_formatted }} / {{ request.user.get_daily_goal_display }}</h3>
				</div>
			</div>

			<!-- Achievements -->
			<div class="col-7 px-2">
				<div class="card d-flex" style="height: 150px;">
					<div class="d-flex flex-row overflow-auto p-2 gap-2">
						{% for achievement in achievements %}
							<img src="{{ achievement.icon.url }}" alt="{{ achievement.name }}" class="h-100" style="aspect-ratio: 1 / 1; object-fit: cover;">
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

		<!-- Charts -->
		<div class="row m-0">
			<div class="col-3 px-2">
				<div class="card pb-2" style="height: 314px !important;">
					<canvas id="mistakes"></canvas>
				</div>
			</div>
			<div class="col-9 px-2">
				<div class="card pt-2" style="height: 314px !important;">
					<canvas id="history"></canvas>
				</div>
			</div>
		</div>

		<!-- Statistics -->
		<div class="row mx-0 mb-4">
			<!-- AVG Speed -->
			<div class="col px-2">
				<div class="card d-flex flex-row gap-2 align-items-center py-2 px-3 h-100">
					<img src="{% static 'img/speed.svg' %}" width="40px" height="40px">
					<div class="d-flex flex-column">
						<h5 class="m-0">AVG. Speed</h5>
						<h6 class="m-0">{{ request.user.avg_wpm }} WPM</h6>
					</div>
				</div>
			</div>
			
			<!-- AVG Accuracy -->
			<div class="col px-2">
				<div class="card d-flex flex-row gap-2 align-items-center py-2 px-3 h-100">
					<img src="{% static 'img/accuracy.svg' %}" width="50px" height="50px">
					<div class="d-flex flex-column">
						<h5 class="m-0">AVG. Accuracy</h5>
						<h6 class="m-0">{{ request.user.avg_accuracy }}%</h6>
					</div>
				</div>
			</div>
			
			<!-- Typing Time -->
			<div class="col px-2">
				<div class="card d-flex flex-row gap-2 align-items-center py-2 px-3 h-100">
					<img src="{% static 'img/typing_time.svg' %}" width="50px" height="50px">
					<div class="d-flex flex-column">
						<h5 class="m-0">Typing Time</h5>
						<h6 class="m-0">{{ request.user.total_time_formatted }}</h6>
					</div>
				</div>
			</div>
			
			<!-- Completed Tests -->
			<div class="col px-2">
				<div class="card d-flex flex-row gap-2 align-items-center py-2 px-3 h-100">
					<img src="{% static 'img/test.png' %}" width="50px" height="50px">
					<div class="d-flex flex-column">
						<h5 class="m-0">Completed Tests</h5>
						<h6 class="m-0">{{ request.user.test_count }}</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}

{% block scripts %}
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
    <script>
        const historyChartData = {{ history_chart_data|default:"null"|safe }};
        const mistakesChartData = {{ mistakes_chart_data|default:"null"|safe }};
    </script>
    <script src="{% static 'js/index.js' %}"></script>
{% endblock scripts %}