{% extends 'base.html' %}
{% load static %}

{% block styles %} 
	<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock styles %}

{% block content %}
	<div class="d-flex flex-column gap-3 my-4">

		<div class="row gap-3 m-0">
			<!-- Level card -->
			<div class="col-3 d-flex flex-column p-3 bg-2 rounded card-hover" id="level-card">
				<h2 class="mb-1">{{ request.user.level.title }}</h2>
				<p class="mb-1">{{ request.user.level.description }}</p>
				<div class="d-flex flex-column">
					<div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="{{ request.user.exp }}" aria-valuemin="0" aria-valuemax="{{ request.user.level.exp_to_next }}" style="height: 25px">
						<div class="progress-bar" style="width: {{ request.user.exp_progress }}%"></div>
					</div>
					<div style="white-space: nowrap">
						{{ request.user.exp }} exp / {{ request.user.level.exp_to_next }} exp
					</div>
				</div>
			</div>

			<!-- Daily Goal -->
			<div class="col-2 d-flex flex-column gap-2 justify-content-center py-2 px-3 bg-2 rounded card-hover">
				<h2 class="text-center">Daily Goal</h3>
				<h3 class="text-center">{{ request.user.today_total_time_formatted }} / {{ request.user.get_daily_goal_display }}</h3>
			</div>
		</div>

		<!-- Stats cards -->
		<div class="row gap-3 m-0">
			<div class="col-3 d-flex flex-column gap-3 p-0">
				
				<!-- AVG Speed -->
				<div class="d-flex flex-row gap-2 align-items-center py-2 px-3 bg-2 rounded card-hover">
					<img src="{% static 'img/speed.svg' %}" width="40px" height="40px">
					<div class="d-flex flex-column">
						<h5 class="m-0">AVG. Speed</h5>
						<h6 class="m-0">{{ request.user.avg_wpm }} WPM</h6>
					</div>
				</div>
				
				<!-- AVG Accuracy -->
				<div class="d-flex flex-row gap-2 align-items-center py-2 px-3 bg-2 rounded card-hover">
					<img src="{% static 'img/accuracy.svg' %}" width="50px" height="50px">
					<div class="d-flex flex-column">
						<h5 class="m-0">AVG. Accuracy</h5>
						<h6 class="m-0">{{ request.user.avg_accuracy }}%</h6>
					</div>
				</div>
				
				<!-- Typing Time -->
				<div class="d-flex flex-row gap-2 align-items-center py-2 px-3 bg-2 rounded card-hover">
					<img src="{% static 'img/typing_time.svg' %}" width="50px" height="50px">
					<div class="d-flex flex-column">
						<h5 class="m-0">Typing Time</h5>
						<h6 class="m-0">{{ request.user.total_time_formatted }}</h6>
					</div>
				</div>
			</div>
			<div class="col-2 d-flex flex-column gap-3 justify-content-center bg-2 rounded card-hover">
				<h3 class="text-center">Practice</h3>
				<a href="#" class="btn btn-primary w-100">Lessons</a>
				<a href="{% url 'timedtests' %}" class="btn btn-primary w-100">Timed Tests</a>
				<a href="{% url 'pagetests' %}" class="btn btn-primary w-100">Page Tests</a>
			</div>
		</div>
	</div>
{% endblock content %}
