{% extends 'base.html' %}
{% load static %}

{% block title %}Leaderboards{% endblock title %}

{% block styles %}
{% endblock styles %}

{% block content %}
    <div class="row mt-4">
        <div class="col-3">
            <div class="d-flex flex-column gap-3">
                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action active" aria-current="true">WPM</button>
                    <button type="button" class="list-group-item list-group-item-action">Completed Tests</button>
                    <button type="button" class="list-group-item list-group-item-action">Typing Time</button>
                </div>
                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action active" aria-current="true">Daily</button>
                    <button type="button" class="list-group-item list-group-item-action">Weekly</button>
                    <button type="button" class="list-group-item list-group-item-action">Monthly</button>
                    <button type="button" class="list-group-item list-group-item-action">All Time</button>
                </div>
            </div>
        </div>
        <div class="col-9">
            <h3 id="leaderboard-title"></h3>
            <div id="leaderboard">
                <!-- Leaderbord will be loaded here. -->
            </div>
        </div>
    </div>
{% endblock content%}

{% block scripts %}
<script src="{% static 'js/leaderboards.js' %}"></script>
{% endblock scripts %}