{% extends 'base.html' %}
{% load static %}
{% block title %}{{ duration }} Minute Test{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/timedtest.css' %}">
{% endblock styles %}

{% block content %}
    <h1 class="mt-5">{{ story.title }}</h1>
    <div class="row mt-5 justify-content-center">
        <h1 class="col">{% if test_type == 'timed' %}Time Left:{% else %}Time:{% endif %} <span id="timeLeft" class="text-success"></span></h1>
        <h1 class="col"> WPM: <span id="wpm" class="text-success"></span></h1>
        <h1 class="col"> Accuracy: <span id="accuracy" class="text-success"></span></h1>
    </div>

    <div id="story" data-text="{{ text_to_display }}"></div>

    <div id="duration" data-duration="{{ duration }}" data-test-type="{{ test_type }}"></div>

    <input type="text" id="userInput" autofocus autocorrect="off" autocapitalize="none" spellcheck="false" autocomplete="off">

    <div class="mt-5 fs-1" style="max-height: 500px; overflow: hidden;">
        <div style="line-height: 60px;" id="textDisplay"></div>
    </div>

{% endblock content%}
    
{% block scripts %}
    <script>
        window.initialSettings = {
            articleId: "{{ article_id }}",
            storyId: "{{ story_id }}",
            test_type: "{{ test_type }}",
            duration: "{{ duration }}",
            text_type: "{{ text_type }}",
            difficulty: "{{ difficulty }}",
            length: "{{ length }}",
            extras: {{ extras|safe }},
        };
    </script>
    <script src="{% static 'js/test.js' %}"></script>
{% endblock scripts %}
